.navbar-brand img {
  height: 70px;
}
.btn{
  letter-spacing: 0;
  border: 0px solid transparent;
  padding: 0.6rem 18px;
}

.home{
  background: url("../src/assets/img/bg/trevor.jpg");
}

.card-header {
  padding: 0.5em 1.5rem;
}